<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="vzaramel.cordova.dtmf"
    version="1.0.0">
    <name>DTMF</name>
    <description>Cordova DTMF Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,DTMF</keywords>
    <repo>https://github.com/vzaramel/cordova-plugin-dtmf.git</repo>
    <issue>https://github.com/vzaramel/cordova-plugin-dtmf/issues</issue>

    <js-module src="www/dtmf.js" name="DTMF">
        <clobbers target="DTMF" />
    </js-module>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DTMF" >
                <param name="android-package" value="vzaramel.cordova.dtmf.DTMF"/>
            </feature>
        </config-file>

        <source-file src="src/android/DTMF.java" target-dir="src/vzaramel/cordova/dtmf" />
    </platform>


</plugin>
